.hanzi-row {
  max-width: 985px;
}

.details {
  display: flex;
}

.detail-text {
  margin-right: 20px;
}

.detail-text > span {
  font-weight: bold;
  font-size: 12px;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
}

.hanzi-box:nth-child(2),
.hanzi-box:nth-child(3) {
  color: rgba(0, 0, 0, 0.15);
}

@media print {
  .hanzi-row {
    width: 980%;
    page-break-inside: avoid;
  }
}
