.hanzi-row {
  max-width: 906px;
}

.details {
  display: flex;
  align-items: center;
}

.detail-text {
  margin-right: 20px;
}

.detail-text > span {
  font-weight: bold;
  font-size: 12px;
}

.boxes {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(9, 96px);
  grid-row-gap: 5px;
  grid-column-gap: 5px;
}

.hanzi-box:nth-child(2),
.hanzi-box:nth-child(3) {
  color: rgba(0, 0, 0, 0.15);
}

.remove-button {
  border: 0;
  margin-left: auto;
  font-weight: bolder;
  height: 1.5em;
  width: 1.5em;
  font-size: large;
  padding: 0;
  /* border-radius: 50%; */
}

.remove-button:hover {
  background-color: #D8473F;
  color: white;
}

@media print {
  .hanzi-row {
    width: 980%;
    page-break-inside: avoid;
  }
}
