@font-face {
  font-family: StrokeOrder;
  src: url("../../fonts/strokeorder.ttf");
}

.hanzi-box {
  margin: 0 5px 5px 0;
  width: 96px;
  height: 96px;
  border: 1px solid black;
  text-align: center;
  font-size: 85px;
  line-height: 95px;
  font-family: StrokeOrder;
}
