.selector-panel {
  position: fixed;
  width: 25%;
  height: 100%;
  right: 0;
  top: 0;
  padding: 15px;
  border-left: 1px solid black;
  background: rgba(255, 255, 255, 0.8);
}

.filter {
  display: flex;
}

.filter > p {
  font-weight: bold;
  margin: 0;
  margin-right: 15px;
}

.view {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
  padding-top: 10px;
  padding-bottom: 15px;
  height: 90%;
  overflow: scroll;
  align-content: flex-start;
}

@media print {
  .selector-panel {
    display: none;
  }
}
